.heading{
  font-size: 40px;
}

.logo{
    width: 80px
}

.user{
  font-size: 40px;
  margin-left: 20px;
  
}

.profile-images{
  width: 200px;
  height: 200px;
  display: block;
  border-radius: 50%;
  margin-left: 20px;
}

.images{
  width: calc(80vw /3);
  height: calc(80vw /3);
  object-fit: cover;

}

.user-images{ 
  padding: 10px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.loading{
  width: 200px;
  height: 200px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login{
  float:right;
}

// .navbar{
//   padding: 10px;
// }

// .container{
//   display: inline-block;
// }



/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
